:8080

file_server {
    root public
    precompressed
}

header {
	Strict-Transport-Security "max-age=63072000"
	X-Content-Type-Options nosniff
	Content-Security-Policy "
	    script-src 'self' codeka.io plausible.io;
	    frame-src 'self' plausible.io www.youtube-nocookie.com openfeedback.io;
	    img-src 'self' img.shields.io;
	    default-src 'self';
	"
}

encode