[tools]
hugo-extended = "0.155"
node = "latest"
"npm:clever-tools" = "latest"

[env]
HUGO_OPTIONS = "--printI18nWarnings --printPathWarnings --cleanDestinationDir --logLevel debug --disableFastRender"
PLAUSIBLE_API_KEY = { age = { value = "KLUv/QBYhRwASkEsDj0AUTz8dxbdSE0oKEI1+KX/3awxgu1WPNUUxMgMJrCATEIALMYcPmEhYWCDCCD6shi6hWGbr7nNwfd6jwgiywDLAM4AFabCeS0nv7yJvz2Kku/pOm2RBHXJm1tsxDPxOl80qsnBKOs34rSc9PwQg5lIkCzTKzxHnYQNXXp92vGyE1ZKsRbhHbC+MVHqZCwU3f27zJDURqtoQ2cuX9FXTPZqLSLTG8kk+7Ktse+3T/6Xyyq8htt9t5XYmo0GP6mjbimPAaHy+1Kip4ecf3rxEuR98NxxUjTKVddFdK3tbQ2P4XXqaS/YqELlk3v8fu59JR9ltbd9tLsOkff90QGRqp6KddzBjc8h0K+/NwyB4zZULXlvlB7Bm10zGTaZLDft837pibqkiUPWdGpnPtaZJ9p48T9yQeMYh6GUktu3xtyoXj2x1MjNyI/8uPD0NJkb9T5lK0kfiSX8Da0MFKI36xuRaf9pNzAambHI3J1nr1fSnv34tr7Ma/P98vz/+0NltgTzcptne/OMJVmbObYGk/SgLTttz99RMy2XgVUcE1lM/b87w0BNue0iz9r48TnRVgXrTlTXxPa3Yc9LqvS7r1lsltR4b/qhOp3k1T7qFdbfh4rA1bQr+ab1A3V4m6Hoez3lM4MwOEXSQ/mGugoeVVYBnhvcD3hvYT2GaJaEBxGORwdEirO1mieRiS9a3htZwYvyXDZodr6u5XZmy+MmsqxexazlTrpA6EptHElbXrZaHnEwvbl0H0daMh+UufGEaZ7pifMRdZnIr4t/lqrEdDYRHTrhTcz9Esn20o5dj1+N2dQNh8PpeDG09g1kq38NSj0WzrwjlWEjzGEhnLmqu+N79YJ94Mgl70Lfl64UptEJNflWUvtLS6lhTzY8e7OdOZyHQb/yw9ejLChMCORxBBMeZoCWFyo6GHCQYatvrLggYrJRgOYAoQSGEDFIqFUAFwhYDIAoGNCAI6SChogNoxUyRLxgkEIXYOFBjRYFWqw68TJAsUBfQXzweA50TGA5OCQA8CLnwBihIYUl+WZEF0U+IbjpKX1nQsuQvmgKeL0U1sO9kPOu0Ndn30rDzAMCgUjbKaVWurP/vH8T/GK5kSyuKpkTrGeuZHmKjLKUOj1BNCZd0VqhlWrlKerX+h+CLtN1MatPKkU/v1v3U682m40uLk4oBWNhneZu01Vql/7HJ5FV1mdGncV8ogcA", format = "zstd" } }
CLEVER_TOKEN = { age = "YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1yc2EgYWM5WlV3ClVsVTJVUDZOWU1zMkpHdGREcjdabUVhcHJXaVBLWGJNMUJkT1ArMHFQVmI5cWVjYjdDaVhyMHdPTjNROW1QVnEKTGlTN1J3NHlvRTJOSzhSNDl2UCtZNEU3SE1pczhIYzRCVGh1VGx6M3FOa0Q4Zm9kSTk4ZTZ2QVNQNDFnN0piSApRM1RUeVhoL0lsOFplVVFhT1ZDTjVhYTNCRzNoZ1dlNVVxamZKTEhlQmMwY3A5b3ZKTlBVNlREZFJrODJMb1FECmdRWEhTL3ZqTDBoa0dXMDF3aG1DY01PKzJLMk81UkZnc2NwQWZzL2xzWlpEME9idkRPYVZlQ3NweWZGR1RURy8KeTdjbjhIdHFEQ1V3UjR2dVRrWjI5SU1vYlhubTRIa1NPU0R5MGg3Yi9OekNJdlBIM0lybDFXWDU4MGg3MVM0ZApxRnZxOVJtU05WOERZak91Y0hmWHpUMGRXSFplSnFPZ3YwSW0wNzdMZVp3YzZ0aTFPQUJzWnphVTIxaU1XVXFyCjVsRk5POXVxWWFiU012TGdGWjVBTzMzSFFkR0dVaW5tMkhkUzlDYUFnd2todis1eUtEQnRid3QxelE3NDFMK1QKdFQ5NnUzME9xaGZqZmpMQndFVWNXWGJiL2tSckVrZjhpUldUMGp1UjVueWhseEhLdjVENUFkVmVILzA3djUreApMbHlZWEcxTU82S2FPNWN0QWozMEtFOXVYaUJMUFRhYSt4Z3Q0WElmSHNsRVB1azBXSUpYQncrVTRCNUQ1bVZFClBmRkNFNGpQVFg5VWdOQWtQV2JEMkdTMDVuMERxWjNlWElsaThxRTRnSHhDaWgzUGIxM0ZFUWRqOHJvcWQzZlgKc1lCQzdSVDZuaFcwYVFVcWhGdlg2cTJYY0hoUUZGejhGenFEeFpsY0wwVQotPiBoWC1ncmVhc2UKekVMQ3ZNWHF0c1ZQRS91T2E1ZnVzQXhmdmNjQ255TUExVUFWS0EKLS0tIHdsOGR6R3ZGMGpXVVo5WU1ZMUF4NDJrWXhGVlB1YjdQK3VxOXNFNWUyaWcKwFaXhuyv1Rl0calO7tRqMxcKeOElilpPyz6xDbBrMlVEZ4WpaRcd7/JScI4p2b0WRudPrcKk4k2eCGhudvyPZQ" }
CLEVER_SECRET = { age = "YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1yc2EgYWM5WlV3CmJhdDE5MjZwQnRHQVA1OCtnM2gvR0lBRUVLMDZjckFzdzVJYnU2TG1nYTlkd0REQmoybzZRZmdpcTdlZUNiNVAKOHkrRC93ek9hekRMbmY1NGx2K2xmaVNyWlZpWFFTSmVhZGpsb3JvbWdpKzZXTE41bTlpL0VXdS9xc3pNT2Y5bApndVFBTWRYMEExNFMycUNJVmFFeXZYZGNxbWNGVjdqL21uV215MTQ4WDZpYXV0ZUxxeWEvMk45dm1kS2lod3p6CnBjQXpHNUN1ZTJiSFJnRGI1WjQzRHFiN3hMb3crdTdsOTdkdUNIc1JvcHM0VHVIOFRxSjlUcWtkeFlhdkVoWFoKRFZNSlFLODlTVG9iVVlLWFNJRjZTdFl0dDFoM1Nob3hBZmcwR05aVmVsRzd2WmVTc09vYTN5M2pjNGZWTlg0UgpHMHRzVTRQTmJ0S1M3djdJcDZrVFJWb1ZzN3luZWowWW0rQlFkS3hRYmFZdC9jdHRtU1VMT2MwMzFKVHR6b3dFCmVpclFpQ0wyUmplazNESnpaczZuaGw4N0w4ZkUvdEdDSW1xVzdLRTJaV0MvZGIxZ09pdFhjYVNmTFFqOE8rSkIKQXBEaWFhbE5aZnRuM1ZoczJBVld2WnF5UzVpSlhhSWJ4UzlNTC94Q3RsLzB6a001ckxHWUZ2cHBGaGVDUFV2OAo1OGxBYjd5ZmJTMGMxd1NVZkRwOXVSWHBMM3c1bWdkR25DT2MyaS9La2NtOVQ4dDZLTjFuTzNPM1ZKNmwxMVYvCkNsakk2VWZXc1UrMmxQeE5BcU1PaTk2dTIrZXdUM2kyd3pjSzhSNXNITWFrRENyMUNmUzdZUWdFaU1Hait5dzgKc2ltbEVZalZQQUd0RTZnM0lBYXVpNXQ3cEVpZkRiVGRxTHFHem5kOVpCQQotPiBZUzxpOUstZ3JlYXNlIHFSaiBmNQpLcjBWV3pLMmxZdTU1Z0VLUytnelRDMjdTWm02ZXNFWW1qZ2lwME40OEZTUWNWQ3JPQ0RIekRxQ0VBdldtMzRwClhPVUVzdwotLS0gUGlydGM3ZU9ERFNrRmUrbjh3WGdYOWpRaWI0Ukk3bSswWTJMeXF1TzhOdwr5twIzjj1T1bPf+kJMxWMIF+ZJ/nk3x8JtW2hVbBaqHSWHG2oT+RyDZIKJ6FxpHjZKDUk8RK76eBm7x0Nq3aBt" }
PROD_APP_ID = { age = "YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1yc2EgYWM5WlV3CnJFTlc1b21RU1NrZnlibkw0Q0xjUWUvTGhTd2ZJTWhsdlRHZlRDU1ZmbnozNzR1bW5nK0Y2dndnc2ZYNFhxUXgKN3RkTzNvRHpnMWlQd0hadHJqdW5BcUVWei9KcU5jYkN6WFNvTyszd2lkemhyVlZOK2RDMHdWZU1SZHJ6TEhNMwpwZmVJYzY4MVE1MUJIbjdUNmp4RHdWNUVJNll6NnNZaXRPTU9FNW9MTHcyNUp2aGtxSENvMVJXVEZkUkFEN0E0CmRaTm9uVzBsZm9Rb1RnVjJHZ1JkWEJsbktsSjN4ai82SktObEI1cFozaHB3ZnVGY29Ba0MycXFGM1VCWEF1VDYKMHZHeVl5cnM5Ti93WTBMUS94ZmdPV1QyMDR0RjBIQjB3KzQrdk9xWk9QMlNvcC9meUIyakdUdVlCb1NRQlUyMQpucEUxQVFZT0JGbk4zMW1NaE9mYmdEcEtyVllwU28rNmxJVzZFMnRPYU02VUwyencxakUrTTVPQnp5RldkWmNpCmQ0UDVWQitadTBQbHNYbVErVGJUb1VvNTUyTzR4SENSTzNBRldicXBZWEpscEpxMUM1QlJZNkJ5VXhYRUhvWlcKVGhBcUhHV0FXbVN5OTYwVWRPZnRRNVFpVE0vUGp6K2JKeStqTUZGdjBZRkkyVnBLc2pvZ29lcTZ2U3FFb3JnNgplZk0rNStOYkNhOGRWdmVzdmZNRC9zSjFVbzJ6emtVcTlxVE45M3g1NmxWdE13QmtlcmtPZWhkbk8xdkpxaDNHCk9SRmJwY2xzTHpDd3NUM1ZJcjlLTGVjOXpuejVQajg4Y2k4M2NKdll4VXdlRTY1YjJmZ2lLZDJPZ2VhcFhXQXgKTzhNekl1Q3o4N3BNM3pyNGNsY3BFS1RGRHg0NnBsYXM5NzVzci9jTUZyQQotPiBDeCItZ3JlYXNlIGd0LmQtcVsgIQpPbXlSTy8yQkF2NktpVEhRcTZiSC9rWmR1YmdnT2FQaE16aHJSUVdNSzVqMlNkQWYwaktycTJEbDVOQUlCRUFyCkJhcy8KLS0tIHdrWmFXekdkNUlRRm1TWUZPQzRaWFBzOHpDSmphZ1V2Q3EzOHhEQUdwSTQKH9uyEBJHhnWhT8HV4F6eYW8F6V8aXhCNzBo8PSWwt2wdGtd6wmahNNoZLTBYQqreIdStIPlPfzGc+4gKUT3LKviMxp80IAQ/" }

[tasks]

[tasks.fetch-views-data]
description = 'Fetch data from plausible'
dir = "scripts"
tools.go = "1.21"
run = "go run plausible_fetch.go -site codeka.io -range all -out ../data/plausible-stats/visits.json"

[tasks.fetch-bluesky-stats]
description = 'Fetch data from bluesky'
dir = "scripts"
tools.go = "1.21"
run = "go run bluesky_stats.go"

[tasks.build]
description = "Build le site avec Hugo"
run = "hugo build $HUGO_OPTIONS"

[tasks.post-build]
description = "Post build hooks"
depends = ["precompress"]

[tasks.precompress]
description = "Precompress static resources"
run = '''
COMPRESSREGEX=".*(html|css|js|xml|ico|svg|md|png|webp|pdf)$"
find public/ -type f -regextype egrep -regex $COMPRESSREGEX | xargs zstd -15 -f
find public/ -type f -regextype egrep -regex $COMPRESSREGEX | xargs zstd --format=gzip -15 -f
'''

[tasks.serve]
description = "Lance le serveur de développement Hugo"
depends = ['fetch-views-data']
run = "hugo server --openBrowser $HUGO_OPTIONS"

[tasks.draft]
description = "Serve Hugo en incluant les brouillons et futures publications"
depends = ['fetch-views-data']
run = "hugo server --openBrowser $HUGO_OPTIONS --buildDrafts --buildFuture"

[tasks.nbsp]
description = "Insère des espaces insécables avant ;?:! dans les posts"
run = '''
    sed -i '/^---$/,/^---$/b;s/ \([;?:!]\)/\ \1/g' content/posts/**/*.md
'''

[tasks."new-tech-watch-post"]
description = "Crée un nouveau post de veille"
usage = '''
arg "<date>" help="Date de publication du post"
'''
run = "hugo new content posts/${usage_date}-mi-veille -k veille"

[tasks."clever:preview"]
description = "Déploie une preview Clever Cloud et ouvre l'URL"
depends = ['fetch-views-data']
run = "clever deploy --alias preview --force && clever open --alias preview"

[tasks."clever:deploy"]
description = "Déploie sur l'alias Clever Cloud de production"
run = '''
clever link $PROD_APP_ID --alias codeka.io || true
clever deploy --alias codeka.io
'''
