<div class="sidebar-about">
    <h1 class="brand">
        <a href="{{ .Site.BaseURL }}">
            {{ $brand_image := resources.Get .Site.Params.brand_image }}
            {{ $brand_image := $brand_image.Fill "180x180 webp Center"}}
            <img src="{{ $brand_image.Permalink }}" alt="brand image">
            <h1>{{ .Site.Params.brand }}</h1>
        </a>
    </h1>
    <p class="lead">
    {{ with .Site.Params.description }}{{. | safeHTML}}{{end}}
    </p>

    <ul class="certifications">
    {{ range .Site.Params.certifications }}
        <li>
            {{ $cred_logo := resources.Get .Logo }}
            {{ $cred_logo := $cred_logo.Resize "96x96 webp"}}
            <a href="{{.Credentials }}" target="_blank">
                <img src="{{ $cred_logo.Permalink }}" alt="{{.Name}}" max-width="50%"/>
                {{ .Name}}
            </a>
        </li>
    {{ end }}
    </ul>

</div>
