<div class="sidebar-about">
    <h1 class="brand">
        <a href="{{ .Site.BaseURL }}">
        {{ $brand_image := resources.Get .Site.Params.brand_image }}
        {{ $brand_image := $brand_image.Fill "180x180 Center"}}
        <img src="{{ $brand_image.Permalink }}" alt="brand image">
        </a>
        {{ if .Site.Params.brand }}
            <a href="{{ .Site.BaseURL }}">
                <h1>{{ .Site.Params.brand }}</h1>
            </a>
        {{ end }}
    </h1>
    <p class="lead">
    {{ with .Site.Params.description }}{{. | safeHTML}}{{end}}
    </p>

    <hr/>

    <ul class="certifications">
    {{ range .Site.Params.certifications }}
        <li>
            <a href="{{.Credentials}}" target="_blank">
                <img src="{{ .Logo }}" alt="{{.Name}}" max-width="50%"/>
                {{ .Name}}
            </a>
        </li>
    {{ end }}
    </ul>

    <hr/>
</div>
