<div class="sidebar-about">
    <h1 class="brand">
        <a href="{{ .Site.BaseURL }}">
            {{ $brand_image := resources.Get .Site.Params.brand_image }}
            {{ $brand_image := $brand_image.Fill "180x180 webp Center"}}
            <img src="{{ $brand_image.Permalink }}" alt="brand image">
            <h1>{{ .Site.Params.brand }}</h1>
        </a>
    </h1>
    <p class="lead">
    {{ with .Site.Params.description }}{{. | safeHTML}}{{end}}
    </p>

    <ul class="certifications">
    {{ range .Site.Params.certifications }}
        <li>
            <a href="{{.Credentials}}" target="_blank">
                <img src="{{ .Logo }}" alt="{{.Name}}" max-width="50%"/>
                {{ .Name}}
            </a>
        </li>
    {{ end }}
    </ul>

    <form action="{{ "search" | absURL }}">
        <input type="search" id="search" name="s" placeholder="Rechercher"/>
        <button type="submit">🔎</button>
    </form>

</div>
