<div class="info">
    <h2 class="post-title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h1>
    {{ if .Params.tags }}
    <ul class="tags">
        {{ range .Params.tags }}

        {{ $tagPage := site.GetPage "tags" . }}

        <li class="tag-{{ . }}">
            <a href="{{ "tags/" | absLangURL }}{{ . | urlize }}">{{$tagPage.Params.emoji}} {{ . }}</a>
        </li>
        {{ end }}
    </ul>
    {{ end }}
    
    {{ if .Params.featuredImage }}
    <a href="{{ .Permalink }}">
        <img style="max-height: 10rem;" src="{{ .RelPermalink }}/{{ .Params.featuredImage }}">
    </a>
    {{end}}

    <p>{{ .Params.description | markdownify }}</p>

    {{ if .Params.links }}
        {{ partial "books/links.html" . }}
    {{ end }}
</div>
