<ul class="links">
    {{ if .Params.links.amazon }}
    <li>
        <a href="{{ .Params.links.amazon }}" target="_blank">
            <img alt="Acheter sur Amazon" src="https://img.shields.io/badge/Amazon-Acheter-FF9900?style=for-the-badge&logo=amazon"/>
        </a>
    </li>
    {{ end }}

    {{ if .Params.links.fnac }}
    <li>
        <a href="{{ .Params.links.fnac }}" target="_blank">
            <img alt="Acheter sur Fnac" src="https://img.shields.io/badge/Fnac-Acheter-E1A925?style=for-the-badge&logo=fnac"/>
        </a>
    </li>
    {{ end }}

    {{ if .Params.links.cultura }}
    <li>
        <a href="{{ .Params.links.cultura }}" target="_blank">
            <img alt="Acheter sur Cultura" src="https://img.shields.io/badge/Cultura-Acheter-1D2C54?style=for-the-badge&logo=cultura"/>
        </a>
    </li>
    {{ end }}

    {{ if .Params.links.eni }}
    <li>
        <a href="{{ .Params.links.eni }}" target="_blank">
            <img alt="Acheter sur ENI" src="https://img.shields.io/badge/ENI-Acheter-004982?style=for-the-badge"/>
        </a>
    </li>
    {{ end }}

</ul>