{{ define "main" -}}
<div class="post">
  {{ partial "post/info.html" . }}

  {{ partial "post/i18nlist.html" . }}

  {{ if .Params.original }}
  <blockquote class="alert alert-info">
    <p class="alert-heading">
      ℹ️ Info
    </p>
    {{ $original := .Page.GetPage .Params.original }}
    <p class="alert-content">
      {{ $lastmodDate := .Lastmod | time.Format ":date_medium" }}
      {{ i18n "lastmod.oldlink" (dict "date" $lastmodDate "link" $original.Permalink ) | .RenderString}}
    </p>
  </blockquote>
  {{ end }}

  {{ if .Params.updated }}
  <blockquote class="alert alert-warning">
    <p class="alert-heading">
      ⚠️ Warning
    </p>
    {{ $updated := .Page.GetPage .Params.updated }}
    <p class="alert-content">
      {{ $lastmodDate := .Lastmod | time.Format ":date_medium" }}
      {{ i18n "lastmod.newlink" (dict "date" $lastmodDate "link" $updated.Permalink ) | .RenderString }}
    </p>
  </blockquote>
  {{ end }}

  {{ with .Resources }}
    {{ with .GetMatch "{cover.*}" }}
         {{ $cover820 := .Resize "820x webp q75 lanczos" }}
         {{ $cover480 := .Resize "480x webp q75 lanczos" }}
          <img srcset="{{ $cover820.RelPermalink }} 820w,
                      {{ $cover480.RelPermalink }} 480w"
               sizes="(max-width: 480px) 480px,
                     820px"
               src="{{ $cover820.RelPermalink }}"
               alt="Illustration de couverture"/>
    {{ end }}
  {{ end }}

  {{ .Content }}
</div>
{{- end }}
{{ define "sidebar" }}
  {{ if and (not .Params.hideToc) (not .Site.Params.hideToc) }}
    {{ partial "table_of_contents.html" . }}
  {{ end }}
{{ end }}
