.lead {
    font-size: 1rem;
}

ul.certifications {
    display: flex;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    padding: 1rem 0 1rem 0;
}

.certifications li {
    list-style-type: none;
}

.certifications img {
    width: 96px;
    height: 96px;
    border: 2px solid white;
}

/* links style for projects list view in home page */
.projects .info {
    margin-bottom: 4em;
}

.projects .info .links {
    float: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 5px;
    padding: 0;
}

.projects .info .links li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.projects .info .links li a img {
    margin: 0;
}


/* links style for books list view in home page */
.books .info {
    margin-bottom: 4em;
}

.books .info .links {
    float: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 5px;
    padding: 0;
}

.books .info .links li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.books .info .links li a img {
    margin: 0;
}
