<div class="info">
    <h2 class="post-title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
    {{ with .GetTerms "tags" }}
    <ul class="tags">
        {{ range . }}
        <li class="tag-{{ . }}">
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </li>
        {{ end }}
    </ul>
    {{ end }}
    
    {{ if .Params.featuredImage }}
    <a href="{{ .Permalink }}">
        <img class="featuredImage" alt="Couverture du livre {{ .Title }}" src="{{ .RelPermalink }}/{{ .Params.featuredImage }}">
    </a>
    {{end}}

    <p>{{ .Params.description | markdownify }}</p>

    {{ if .Params.links }}
        {{ partial "books/links.html" . }}
    {{ end }}
</div>
