{{ define "main" -}}

{{ $pag := .Paginate (where .Site.RegularPages "Type" "in" "posts") }}

{{/* only display books on first page */}}
{{ if eq $pag.PageNumber 1 }}
<h1>Publications</h1>
<div class="books">
    {{ range (where .Site.RegularPages "Type" "books") }}
        {{ partial "books/info.html" . }}
    {{ end }}
</div>
<hr/>
{{ end }}

{{/* only display projects on first page */}}
{{ if eq $pag.PageNumber 1 }}
<h1>Projects</h1>
<div class="projects">
    {{ range (where .Site.RegularPages "Type" "projects").ByDate.Reverse }}
        {{ partial "projects/info.html" . }}
    {{ end }}
</div>
<hr/>
{{ end }}

<h1>Posts</h1>
<div class="posts">
    {{ range $pag.Pages }}
    <article class="post">
        {{ partial "post/info.html" . }}
        {{ if or (.Site.Params.noSummary) (.Params.noSummary) }}
        {{ .Content }}
        {{ else }}
        {{ .Summary }}
        {{ if .Truncated }}
        <div class="read-more-link">
            <a href="{{ .RelPermalink }}">Read More…</a>
        </div>
        {{ end }}
        {{ end }}
    </article>
    {{- end }}
</div>
{{ partial "pagination.html" . }}
{{- end }}
