{{ with .Translations }}
<nav class="article-translations" aria-label="Article languages">
    <span>{{ i18n "translations" }}</span>
    {{ range . }}
    {{ if eq .Language.Lang $.Language.Lang }}
    <span
            aria-current="page"
            lang="{{ .Language.Lang }}"
    >
        {{ .Language.Label }}
      </span>
    {{ else }}
    <a
            href="{{ .RelPermalink }}"
            lang="{{ .Language.Lang }}"
    >
        {{ .Language.Label }}
    </a>
    {{ end }}
    {{ end }}
</nav>
{{ end }}