{{ range .Params.events }}
{{ if (or (.slides) (.youtube) (.pictures)) }}
<h1>{{ .name }} - {{ .date | time.Format ":date_medium" }}</h1>

{{ if .slides }}
<h2>Slides </h2>
<embed src="{{ .slides }}" type="application/pdf" width="100%" height="500px">
{{ end }}

{{ if .youtube }}
<h2>Video</h2>
<iframe loading="lazy" width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ .youtube }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
{{ end }}

{{ if .feedbacks_url }}
<h2>Feedbacks</h2>
<iframe loading="lazy" width="800" height="330" src="{{ .feedbacks_url }}?hideHeader=true&forceColorScheme=light" title="Feedbacks"></iframe>
{{ end }}

{{ if .pictures }}
<h2>Photos</h2>
<div class="photo-gallery">
  {{ $pageResources := $.Page.Resources }}
  {{ $picturesDir := .pictures }}

  {{ $images := $pageResources.Match (printf "%s/*" $picturesDir) }}

  {{ $totalImages := len $images }}

  {{ $remainingImages := len $images }}

  <!-- first line, 3 images, always -->
  <div class="gallery-row">
    {{ range $image := first 3 $images }}
    {{ $resized := $image.Resize "900x webp" }}
    <img src="{{ $resized.RelPermalink }}" alt="{{ $image.Name }}" loading="lazy">

    {{ $remainingImages = sub $remainingImages 1 }}

    {{ end }}
  </div>

  {{ if lt $remainingImages 3 }}
    <!-- show all remaining images on the last line-->
    <div class="gallery-row">
      {{ range $index, $image := last $remainingImages $images }}
        {{ $resized := $image.Resize "900x webp" }}
          <img src="{{ $resized.RelPermalink }}" alt="{{ $image.Name }}" loading="lazy">
      {{ end }}
    </div>
  {{ else }}
    <!-- show a single image -->
    <div class="gallery-row">
      {{ range $index, $image := slice (index $images 3) }}
        {{ $resized := $image.Resize "900x webp" }}
        <div class="gallery-item">
          <img src="{{ $resized.RelPermalink }}" alt="{{ $image.Name }}" loading="lazy">
        </div>
      {{ end }}
      {{ $remainingImages = sub $remainingImages 1 }}
    </div>
    <!-- show all remaining images on the last line-->
    <div class="gallery-row">
      {{ range $index, $image := after 4 $images }}
        {{ $resized := $image.Resize "900x webp" }}
        <div class="gallery-item">
          <img src="{{ $resized.RelPermalink }}" alt="{{ $image.Name }}" loading="lazy">
        </div>
      {{ end }}
    </div>
  {{ end }}
  </div>
{{ end }}
{{ end }}
{{ end }}
