{{ define "main" -}}
<h1 class="title">{{ .Title }}</h1>
<ul class="talks">
    {{ range .Pages.GroupByDate "2006" }}
    <h3 class="talks-year">{{ .Key }}</h3>
    {{ range .Pages }}
    <li class="talks-item">
        <span class="title">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </span>
        <div class="events-container">
            {{ range .Params.events }}
                <div class="event-card">
                    <span class="event-name">{{ .name }}</span>
                    &nbsp;-&nbsp;
                    <span class="event-date"><time>{{ .date | time.Format ":date_long" }}</time></span>
                </div>
            {{ end }}
        </div>
    </li>
    {{ end }}
    {{ end }}
</ul>
{{ end }}
